:root {
  --bg: #272727;
  --primarytext: #e6b028;
}
* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #161616;
}

li {
  float: right;
  font-size: 1.2rem;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #000000;
}

body {
  background-color: var(--bg);
}
.themes h1{
text-align: center;
color: #e6b028;
font-size: 3rem;
margin: 10px 0;
}
.image-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
.button-container {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
 .button-link {
  padding: 5px 24px;
  border-radius: 16px;
  border: 1px solid white;
  text-decoration: none;
  color: rgb(255, 255, 255);
  margin-top: 50px;
}
.button-link:visited {
  background-color: lightgreen;
  color: white;
}
.button-link:hover {
  background-color: white;
  color: black;
}
#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 8px;
  background-color: rgb(31, 31, 31);
  color: white;
}
